.header {
	display: flex;
	justify-content: space-between;
	padding: 26px 3.2% 22px;

	@media screen and (min-width: 768px) {
		padding: 26px 30px 22px;
	}

	&__buttons {
		padding-top: 5px;
	}

	&__button {
		all: initial;

		&--cart {
			position: relative;
			bottom: 4px;
		}

		margin-left: 23px;

		&--burger {
			position: relative;
			top: 2px;
			@media screen and (min-width: 1200px) {
				display: none;
			}
		}
	}

	border-bottom: 1px solid #cfcfcf;
}
