.header {
	display: flex;
	justify-content: space-between;
	padding: 26px 0 22px;

	&__buttons {
		display: flex;
		justify-content: space-between;
		width: 135px;
		padding-top: 3px;
	}

	&__button {
		all: initial;
		&--cart {
			position: relative;
			bottom: 3px;
		}
	}
}

.headersBorder {
	border-bottom: 1px solid #cfcfcf;
}
